@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 210 11% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;
    --primary: 32 38% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 264 18% 56%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 85%;
    --muted-foreground: 210 10% 40%;
    --accent: 32 38% 60%;
    --accent-foreground: 210 11% 15%;
    --accent-2: 30 41% 62%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 70%;
    --input: 210 20% 70%;
    --ring: 32 38% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 12%;
    --foreground: 210 40% 98%;
    --card: 209 20% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 209 20% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 32 38% 70%;
    --primary-foreground: 210 11% 15%;
    --secondary: 264 18% 66%;
    --secondary-foreground: 210 11% 15%;
    --muted: 209 20% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 32 38% 70%;
    --accent-foreground: 31 38% 10%;
    --accent-2: 30 41% 62%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 209 20% 22%;
    --input: 209 20% 22%;
    --ring: 32 38% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.featured-outfit .carousel-previous,
.featured-outfit .carousel-next {
    top: -2.5rem;
    transform: none;
    border: 1px solid hsl(var(--border));
    background: transparent;
}
.featured-outfit .carousel-previous {
    right: 3.5rem;
    left: auto;
}
.featured-outfit .carousel-next {
    right: 0;
}
